.shop {
	margin: 0 auto;
	padding: 20px 1.4em;
	text-align: center;
	position: relative;
}

.hide {
	display: none;
}

.shop h1 {
	font-weight: 400;
	font-size: 4rem;
	margin-bottom: 80px;
	font-family: "Cinzel";
}

.nav-list {
	display: flex;
	overflow-x: auto;
	gap: 50px;
	padding-bottom: 15px;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
}

.nav-list .btn {
	font-size: 1.2rem;
	background: none;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	outline: none;
	position: relative;
}

.nav-list .btn::after {
	content: "";
	display: inline-block;
	right: -25px;
	top: 4px;
	width: 1px;
	height: 25px;
	background-color: #b2b2b2;
	position: absolute;
}

.nav-list .btn:hover,
.nav-list .btn.active {
	color: var(--color-accent);
}

.nav-list .btn:active {
	background-color: rgba(255, 255, 255, 0.7);
}

.search-form {
	display: flex;
	align-items: center;
	position: absolute;
	top: 330px;
	transition: 0.3s ease;
}

#search-input {
	display: none;
	height: 35px;
	width: 240px;
	border-radius: 20px;
	border: none;
	background-color: #fafafa;
	padding: 0px 20px;
	animation: slide 0.4s ease forwards;
	outline: none;
}

@keyframes slide {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

#search-input.ativo {
	display: flex;
	outline: none;
}

#search-btn {
	display: block;
	padding: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

#search-btn .icon {
	width: 20px;
	height: 20px;
	pointer-events: none;
}

.products {
	padding: 60px 0px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: 80px 30px;
	position: relative;
}

@keyframes fade {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.images {
	max-width: 450px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	display: block;
	overflow: hidden;
}

.shop img:hover {
	transform: scale(1.1);
}

.img-hover {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.images:hover::after {
	content: "more details";
	font-family: "Cinzel";
	display: block;
	font-size: 1.3rem;
	background-color: #000;
	width: 100%;
	padding: 15px;
	height: 60px;
	color: #fff;
	z-index: 100;
	bottom: 60px;
	position: absolute;
}

.images:hover .img-hover {
	opacity: 1;
	transform: scale(1.1);
}

.card {
	animation: fade 0.4s ease;
}

.card-title {
	font-family: "Cinzel";
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 1.2rem;
	margin-top: 25px;
}

.card-price {
	font-family: "Cinzel";
	font-size: 1.4rem;
	margin-bottom: 15px;
	color: var(--color-accent);
}

.flex {
	display: flex;
	flex-direction: column;
}

.card button {
	background-color: #111;
	border: 1px solid #222;
	color: #fff;
	font-family: "Cinzel";
	cursor: pointer;
	align-self: center;
	padding: 5px 70px;
	transition: 0.3s ease;
}

.card button:hover {
	color: var(--color-accent);
	border: 1px solid var(--color-accent);
}

.card button::after {
	content: "+";
	margin-left: 5px;
}

@media (max-width: 800px) {
	.products {
		grid-template-columns: 1fr;
		margin-top: 40px;
	}

	.nav-list .btn:hover,
	.nav-list .btn:active,
	.nav-list .btn.active {
		color: white;
	}
	.shop img:hover {
		transform: scale(1);
	}
	.images:hover::after {
		display: none;
	}

	.images:hover .img-hover {
		opacity: 0;
		transition: 0.3s ease;
		transform: scale(1.1);
	}

	.card button:hover {
		border: 2px solid #fff;
		transition: 0.3s ease;
	}
	.card button:active {
		border: 2px solid var(--color-accent);
		transition: 0.3s ease;
	}
}

@media (max-width: 600px) {
	.shop .titulo,
	.nav-list {
		text-align: left;
		justify-content: flex-start;
	}
	.shop .titulo {
		font-size: 2rem;
	}
	.search-form {	
		top: 350px;
		left: 20px;
	}

	.card button {
		font-size: 0.875rem;
		padding: 5px 40px;
	}
}
